<md-subheader>Configure your search before submitting (more options coming soon)</md-subheader>
<md-content class="globalization" layout="row" layout-align="center" layout-margin layout-wrap>
  <md-autocomplete flex-gt-sm="15"
    md-items="region in search.filterAutoComplete(search.searchRegion, 'lowerCaseName', search.regions)"
    md-item-text="region.name"
    md-selected-item="search.selectedRegion"
    md-search-text="search.searchRegion"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="1"
    md-floating-label="Country"
    md-autofocus="false">
    <span md-highlight-text="search.searchRegion">{{region.name}}</span>
  </md-autocomplete>
  <md-autocomplete flex-gt-sm="15"
    md-items="language in search.filterAutoComplete(search.searchLanguage, 'lowerCaseName', search.languages)"
    md-item-text="language.name"
    md-selected-item="search.selectedLanguage"
    md-search-text="search.searchLanguage"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="1"
    md-floating-label="Language"
    md-autofocus="false">
    <span md-highlight-text="search.searchLanguage">{{language.name}}</span>
  </md-autocomplete>
</md-content>
