<!-- Meant to be used as child of an ng-repeat -->

<md-list-item class="md-3-line">

  <aside class="search-result-cell">
    <h1>{{$index + 1}}</h1>
  </aside>

  <aside class="search-result-cell">
    <a ng-href="{{'https://www.youtube.com/watch?v=' + item.videoId}}">
      <img ng-src="{{item.thumbnailUrl}}" alt="{{item.title}}">
    </a>
  </aside>

  <div class="md-list-item-text search-result-cell">
    <a ng-href="{{'https://www.youtube.com/watch?v=' + item.videoId}}">
      <h3>{{item.title}}</h3>
    </a>
    <p><a ng-href="{{'https://www.youtube.com/channel/' + item.channelId}}">{{item.channelTitle}}</a></p>
    <p>{{item.publishedAt}}</p>
  </div>

</md-list-item>

<md-divider></md-divider>
