<!-- Meant to be used as child of an ng-repeat -->

<md-list-item class="md-3-line">

  <aside class="search-result-cell">
    <h1>{{$index + 1}}</h1>
  </aside>

  <aside class="search-result-cell">
    <a ng-href="{{::item.videoUrl}}">
      <img ng-src="{{::item.thumbnailUrl}}" alt="{{::item.title}}">
    </a>
  </aside>

  <div class="md-list-item-text search-result-cell">
    <a ng-href="{{::item.videoUrl}}">
      <h3>{{::item.title}}</h3>
    </a>
    <p><a ng-href="{{::item.channelUrl}}">{{::item.channelTitle}}</a></p>
    <p>
      {{::item.publishedAt}}
      <br><span class="detail-name">Duration:</span> {{::item.duration}}
      <br><span ng-class="::'detail-' + item.hd" class="video-detail">HD</span>
      <span ng-class="::'detail-' + item.caption" class="video-detail detail-name">CC</span>
      <span ng-class="::'detail-' + item.threeD" class="video-detail detail-name">3D</span>
      <span ng-class="::'detail-' + item.licensedContent" class="video-detail detail-name">Licensed Content</span>
    </p>
  </div>

</md-list-item>

<md-divider></md-divider>
