<md-subheader>Configure the results after submitting (more options coming soon)</md-subheader>
<md-content layout="row" layout-align="start center" layout-wrap>
  <label flex-gt-sm="10">Sort by:</label>
  <md-radio-group layout="row" layout-align="space-around" layout-wrap ng-model="search.resultsOrderProp">
    <md-radio-button value="relevanceRank" class="md-primary">Relevance</md-radio-button>
    <md-radio-button value="duration" class="md-primary">Duration</md-radio-button>
    <md-radio-button value="viewCount" class="md-primary">Views</md-radio-button>
    <md-radio-button value="likePercentage" class="md-primary">Rating</md-radio-button>
    <md-radio-button value="likeCount" class="md-primary">Likes</md-radio-button>
    <md-radio-button value="dislikeCount" class="md-primary">Dislikes</md-radio-button>
    <md-radio-button value="publishedAt" class="md-primary">Date</md-radio-button>
    <md-radio-button value="title" class="md-primary">Title</md-radio-button>
  </md-radio-group>
</md-content>

<md-content layout="row" layout-align="start center" layout-wrap>
  <label flex-gt-sm="10">Order:</label>
  <md-radio-group layout="row" layout-align="space-around" layout-wrap ng-model="search.resultsOrderReverse">
    <md-radio-button ng-value="false" class="md-primary">Ascending</md-radio-button>
    <md-radio-button ng-value="true" class="md-primary">Descending</md-radio-button>
  </md-radio-group>
</md-content>
