<md-subheader>Configure the results after submitting (more options coming soon)</md-subheader>

<md-content layout="row" layout-align="center center" layout-wrap>

  <md-content layout="row" layout-align="start center" layout-wrap
    class="md-margin">
    <label>Sort by:</label>
    <md-select ng-model="search.resultsOrderProp" class="post-search">
      <md-option value="relevanceRank">Relevance Ranking</md-option>
      <md-option value="duration">Duration</md-option>
      <md-option value="viewCount">Views</md-option>
      <md-option value="likePercentage">Rating</md-option>
      <md-option value="likeCount">Likes</md-option>
      <md-option value="dislikeCount">Dislikes</md-option>
      <md-option value="publishedAt">Date</md-option>
      <md-option value="title">Title</md-option>
    </md-select>
  </md-content>

  <md-content layout="row" layout-align="start center" layout-wrap
    class="md-margin">
    <label>Order:</label>
    <md-select ng-model="search.resultsOrderReverse" class="post-search">
      <md-option ng-value="false">Ascending</md-option>
      <md-option ng-value="true">Descending</md-option>
    </md-select>
  </md-content>

</md-content>
