<md-subheader>Configure your search before submitting (more options coming soon)</md-subheader>

<md-content layout="row" layout-align="center" layout-margin layout-wrap>
  <md-content flex="100" layout="row" layout-align="center center" layout-wrap>
    <label>Safe Search:</label>
    <md-radio-group layout="row" layout-align="start center" layout-wrap ng-model="ngModel.selectedSafeSearch">
      <md-radio-button value="none" class="md-primary">None</md-radio-button>
      <md-radio-button value="moderate" class="md-primary">Moderate</md-radio-button>
      <md-radio-button value="strict" class="md-primary">Strict</md-radio-button>
    </md-radio-group>
  </md-content>

  <md-content flex="100" layout="row" layout-align="center center" layout-wrap>
    <label>Duration:</label>
    <md-radio-group layout="row" layout-align="start center" layout-wrap ng-model="ngModel.selectedDuration">
      <md-radio-button value="any" class="md-primary">Any</md-radio-button>
      <md-radio-button value="short" class="md-primary">Short (&lt; 4 min)</md-radio-button>
      <md-radio-button value="medium" class="md-primary">Medium (4-20 min)</md-radio-button>
      <md-radio-button value="long" class="md-primary">Long (&gt; 20 min)</md-radio-button>
    </md-radio-group>
  </md-content>

  <md-autocomplete flex-gt-sm="15"
    md-items="region in preSearch.filterAutoComplete(preSearch.searchRegion, 'lowerCaseName', preSearch.regions)"
    md-item-text="region.name"
    md-selected-item="ngModel.selectedRegion"
    md-search-text="preSearch.searchRegion"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="1"
    md-floating-label="Country"
    md-autofocus="false">
    <span md-highlight-text="preSearch.searchRegion">{{region.name}}</span>
  </md-autocomplete>

  <md-autocomplete flex-gt-sm="15"
    md-items="language in preSearch.filterAutoComplete(preSearch.searchLanguage, 'lowerCaseName', preSearch.languages)"
    md-item-text="language.name"
    md-selected-item="ngModel.selectedLanguage"
    md-search-text="preSearch.searchLanguage"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="1"
    md-floating-label="Language"
    md-autofocus="false">
    <span md-highlight-text="preSearch.searchLanguage">{{language.name}}</span>
  </md-autocomplete>
</md-content>
