<md-subheader>Configure your search before submitting (more options coming soon)</md-subheader>

<md-content layout="row" layout-align="center" layout-margin layout-wrap>
  <md-autocomplete flex-gt-sm="15"
    md-items="duration in preSearch.filterAutoComplete(preSearch.searchDuration, 'value', preSearch.durations)"
    md-item-text="duration.display"
    md-selected-item="ngModel.selectedDuration"
    md-search-text="preSearch.searchDuration"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="0"
    md-floating-label="Duration"
    md-autofocus="false">
    <span md-highlight-text="preSearch.searchRegion">{{duration.display}}</span>
  </md-autocomplete>

  <md-autocomplete flex-gt-sm="15"
    md-items="region in preSearch.filterAutoComplete(preSearch.searchRegion, 'lowerCaseName', preSearch.regions)"
    md-item-text="region.name"
    md-selected-item="ngModel.selectedRegion"
    md-search-text="preSearch.searchRegion"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="1"
    md-floating-label="Country"
    md-autofocus="false">
    <span md-highlight-text="preSearch.searchRegion">{{region.name}}</span>
  </md-autocomplete>

  <md-autocomplete flex-gt-sm="15"
    md-items="language in preSearch.filterAutoComplete(preSearch.searchLanguage, 'lowerCaseName', preSearch.languages)"
    md-item-text="language.name"
    md-selected-item="ngModel.selectedLanguage"
    md-search-text="preSearch.searchLanguage"
    md-search-text-change="angular.noop"
    md-selected-item-change="angular.noop"
    md-min-length="1"
    md-floating-label="Language"
    md-autofocus="false">
    <span md-highlight-text="preSearch.searchLanguage">{{language.name}}</span>
  </md-autocomplete>
</md-content>
