body[ng-cloak] {
  display: none;
}

a {
  text-decoration: none;
}

.logo {
  height: 2em;
}

.app-title {
  text-align: center;
  color: rgb(244,67,54);
  font-weight: 300;
}

.search-result-cell {
  margin: 1em 0.5em;
}

aside.search-result-cell {
  margin-top: 2em;
}

.search-result-cell h3 {
  color: black;
}

.search-result-cell a {
  color: rgba(0,0,0,0.54);
}

.detail-name {
  font-weight: bold;
}

.detail-true {
  padding: 1px 3px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.54);
  color: white;
  font-weight: 500;
}

.detail-false {
  font-weight: 400;
}

a.md-primary {
  color: rgb(244,67,54);
}
