body[ng-cloak] {
  display: none;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.logo {
  height: 2em;
}

.app-title {
  text-align: center;
  color: rgb(244,67,54);
  font-weight: 300;
}

label.pre-search {
  font-size: 0.9em;
  /*font-weight: bold;*/
}

md-select,
md-autocomplete.pre-search {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

md-select {
  padding-top: 0;
  padding-bottom: 0;
}

.loading-dialog {
  background-color: rgb(244,67,54);
  color: white;
}

.loading-dialog header {
  text-align: center;
}

.loading-dialog img {
  width: 100%;
}

.search-results > ul {
  padding: 0 0.5em;
}

li.search-result {
  list-style: none;
}

.search-result-number {
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.1em 0.3em;
  border-radius: 2px;
  background-color: rgb(244,67,54);
  color: white;
  font-size: 0.9em;
}

.video-title {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: black;
  font-weight: normal;
}

.video-thumbnail {
  width: 120px;
  height: 90px;
  margin-right: 0.5em;
}

.search-result-cell {
  margin: 0 0 1em 0;
}

div.search-result-cell a {
  color: rgb(244,67,54);
}


div.search-result-cell {
  font-size: 0.9em;
}

.search-result-cell p {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.detail-name {
  font-weight: bold;
}

.detail-true {
  padding: 1px 3px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.54);
  color: white;
  font-weight: 500;
}

.detail-false {
  font-weight: 400;
}

a.md-primary {
  color: rgb(244,67,54);
}
